<div >

	<div class="section-1">
    <div class="background">
      <img src="" alt="">
    </div>
    <div class="container">
			<div class="site-top" id='nav-bar'>
				<div class="top-bar">
					<div class="logo">
					</div>
					<div class="nav-bar">
						<ul>
							<li>
								<p>
									Раздел
								</p>
							</li>
							<li>
								<p>
									Раздел
								</p>
							</li>
							<li>
								<p>
									Раздел
								</p>
							</li>
							<li>
								<p>
									Раздел
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
      <div class="person-presentation">
        <div class="name">Игорь</div>
        <div class="last-name">Шарапов</div>
        <div class="footer-section-text">
        Пластическая хирургия Пластическая хирургия Пластическая хирургия
        </div>

        <button class="more-about">
          Узнать больше
        </button>
      </div>
    </div>
  </div>
  <div class="section-1__1">
    <div class="container">
      <div class="left-bar">
        <div class="avatar">
          <img src="" alt="">
        </div>
      </div>
      <div class="right-bar">

      </div>
    </div>
  </div>

	<div class="section-2">

    <div class="container">

      <div class="top-section">
        <p ng-click = "goToMain()">услуги</p>
        <p ng-show = "showSecomdTitle" ng-click = "goToSecondSection(currentSection)">{{currentSection.title}}</p>
        <p ng-show = "operationDescription">{{currentUnderSection.title}}</p>
      </div>
      <div class="overlay" id='overlay' ng-click='goToMain()' ng-show="operationDescription">

      </div>

      <ul class="sections-operations">
        <li ng-repeat="i in info">
          <a class="card-wrapper" ng-click='openOperationDescription(i)' href="#about">
            <div class="avatar">
              <img src="img/boobs.jpg" alt="">
            </div>
            <div class="subtitle">
              <p>{{i.title}}</p>
            </div>
          </a>
        </li>
      </ul>

    </div>
  </div>

	<div class="section-3" >
    <div class="container">
      <div class="top-section">
        <p>до - после</p>
      </div>
      <div class="nav-menu">
        <button class="arrow" id="arrow-prev">
          <img src="img/left-arrow.png" alt="">
        </button>
        <button class="arrow" id="arrow-next">
          <img src="img/right-arrow.png" alt="">
        </button>
      </div>
      <div class="slider-wrapper" id='slides'>
          <div ng-repeat="(i, slide) in slides" class="slide" >
              <img ng-src="{{ slide.image }}" />
          </div>

      </div>
  </div>


</div>


</div>
